.l-aside dt,
.l-aside a,
.l-aside li {
  color: #eee;
}
.l-aside__def dt {
  border-bottom: solid 1px #ddd;
  padding: 16px 8px 16px 16px;
  margin-bottom: 24px;
  position: relative;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  cursor: pointer;
  background: #444;
  &::after {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    font-family: 'Material Icons';
    content: '\e5cf';
  }
}

.l-aside {
  padding: 16px;
  li {
    position: relative;
    color: $light-shade-gray;
    font-size: 14px;
    line-height: 14px;
    padding: 8px 8px 8px 16px;
    cursor: pointer;
  }
  &__def {
    width: 96%;
  }
  &__list {
    width: 100%;
    &--child {
      font-size: 14px;
      // border-bottom: 1px solid $light-shade-gray;
      position: relative;
      &::after {
        position: absolute;
        top: 50%;
        right: 8px;
        transform: translateY(-50%);
        font-family: 'Material Icons';
        content: '\e5cf';
      }
      &.active {
        background-color: rgba(238, 238, 238, 0.8);
        color: #8e9eab;
      }
    }
    // 兄弟要素にul(slideToggle)がある場合
    &--sibling {
      li::after {
        // position: absolute;
        // top: 50%;
        // right: 16px;
        // transform: translateY(-50%);
        // font-family: 'Material Icons';
        // content: '\e5cc';
      }
      li {
        // border-bottom: 1px solid #eee;
      }
      li.active {
        background-color: $light-shade-gray;
        border-bottom: none;
        a {
          color: #8e9eab;
        }
        &::after {
          color: #8e9eab;
        }
      }
    }
    // 兄弟要素にul(slideToggle)がない場合
    &Child {
      font-size: 14px;
      // border-bottom: 1px solid $light-shade-gray;
      // &:last-child {
      //   padding: 6px 8px 40px;
      // }
    }
  }
}
